@font-face {
    font-family: 'SFProDisplay';
    src: url(SFPro.woff2);
    font-weight: 100;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url(SFPro.woff2);
    font-weight: 200;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url(SFPro.woff2);
    font-weight: 300;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url(SFPro.woff2);
    font-weight: 400;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url(SFPro.woff2);
    font-weight: 500;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url(SFPro.woff2);
    font-weight: 600;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url(SFPro.woff2);
    font-weight: 700;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url(SFPro.woff2);
    font-weight: 800;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url(SFPro.woff2);
    font-weight: 900;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url(SFPro.woff2);
    font-weight: bold;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url(SFPro.woff2);
    font-weight: bolder;
}